<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="receive">
            <h2><span>Receive</span> {{receive.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Receive Time</span></dt>
                <dd>
                    <span>{{receive.receiveTime}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{receive.quantity}}</span>
                </dd>
                <dt><span>Item</span></dt>
                <dd>
                    <div *ngIf="receive.item">
                        <a [routerLink]="['/item', receive.item?.id, 'view']">{{receive.item?.code}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/receive', receive.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
