<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="issue">
            <h2><span>Issue</span> {{issue.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Issue Time</span></dt>
                <dd>
                    <span>{{issue.issueTime}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{issue.quantity}}</span>
                </dd>
                <dt><span>Delivery Note Number</span></dt>
                <dd>
                    <span>{{issue.deliveryNoteNumber}}</span>
                </dd>
                <dt><span>Item</span></dt>
                <dd>
                    <div *ngIf="issue.item">
                        <a [routerLink]="['/item', issue.item?.id, 'view']">{{issue.item?.code}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/issue', issue.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
